PUBLIC_HUB_APP_NAME="Karyra Hub"
PUBLIC_SPARK_APP_URL="https://spark.user.cloudjkt01.com"
PUBLIC_STARKNET_NETWORK="Starknet Sepolia"
PUBLIC_STARKNET_RPC_URL="https://starknet-sepolia.public.blastapi.io/rpc/v0_7"
